<div class="container" >
    <br>
    <div class="card">
    
        <div class="card-header page-header">
          <h4>Add Task</h4>
        </div>
        <div class="card-body">
          
            <form class="form-horizontal" #regForm="ngForm" >
                
                <div class="form-group d-flex">
                <div  class="col-sm-2"><label class="control-label" for="Task">Task:</label></div> 
                  <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="Item.TaskName"   placeholder="Enter Task" name="Task1">
                  
                  </div>
                </div>
                <div class="form-group d-flex">
                    <div  class="col-sm-2"> <label class="control-label " for="Priority">Priority:</label></div>
                  <div class="col-sm-4"> 
                    <input name="Priority" type="range" MIN="1" MAX="30" step="1" value="0" class="form-control"  [(ngModel)]="Item.Priority"   placeholder="Enter password">
                  </div>
                </div>
                <div class="form-group d-flex">
                  <div  class="col-sm-2"><label class="control-label " for="ParentTask">Parent Task:</label></div>
                  <div class="col-sm-4">
                    <input name="ParentTask" type="text" class="form-control" [(ngModel)]="Item.ParentTaskId"   placeholder="Enter Task">
                  
                  </div>
                </div>
                <div class="form-group  d-flex">
                    <div  class="col-sm-2"><label class="control-label " for="StartDate">Start Date:</label></div>
                    <div class="col-sm-4">
                      <input name="StartDate" type="date" class="form-control" [(ngModel)]="Item.Startdate" id="StartDate"   placeholder="Enter task start date">
                    
                    </div>
                  </div>
                  <div class="form-group  d-flex">
                      <div  class="col-sm-2"><label class="control-label " for="EndDate">End Date:</label></div>
                      <div class="col-sm-4">
                        <input name="EndDate" type="date" class="form-control" [(ngModel)]="Item.EndDate "  id="EndDate"  placeholder="Enter task end date">
                      
                      </div>
                    </div>
              <div class="form-group d-flex"> 
                <div class="col-sm-offset-2 col-sm-8">
                
                  <button (click)="Add()" name="Add" class="btn btn-default">Add Task</button> &nbsp;
                
                  
                    <button (click)="Reset()" name="Reset"  class="btn btn-default"> Reset Task</button>
                  <input type="button" value="Save" (click)="Add()">>  
                  </div>
              </div>
        
    
     </form>
         
        </div>
      </div>

 

</div>

{{msg}}